header {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: left;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}
